
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

}



/* _________________________________________________________footer box______________________________________________________________ */




footer{
    width: 100vw;
    height: 37px;
    background: rgba(22, 28, 39,0.9);
    position: absolute;
    bottom: 0px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright{
    position: relative;
    right: -650px;
    color: rgb(172, 172, 172);
    font-size: 0.7em;
    top: 7px;
}
.sosiyal_icon{
    width: 170px;
    /* height: 30px; */
    position: absolute;
    left: 80px;
    /* border: 1px solid blue; */
    bottom: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
._icon_link{
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    color: wheat;
    font-size: 1.6em;
    position: relative;
    /* border: 1px solid blue; */
    transition-duration: 0.5s;
    text-decoration-line: none;
}
._icon_link:hover{
    color: orangered;
    font-size: 1.9em;
    /* top: -15px; */
    padding-bottom: 10px;
    height: 55px;

}